<h1>Events Created by <%= @user.name%></h1>

<% @user.created_events.each do |event| %>
  <li><%= link_to event.name, event_path %></li>
<% end %>

<h1>Events Attended by <%= @user.name%></h1>

<% @user.attended_events.each do |event| %>
  <li><%= link_to event.name, event_path %></li>
<% end %>