<h1>Events</h1>
<h3>Future Events</h3>
<% @events.future.each do |event| %>
  <li><%= link_to event.name, event_path(event) %></li>
<% end %>

<h3>Past Events</h3>
<% @events.past.each do |event| %>
  <li><%= link_to event.name, event_path(event) %></li>
<% end %>
