<div class="events-index">
  <h1>Events</h1>
  <h3>Future Events</h3>
  <% @events.future.each do |event| %>
    <div class="event-link"><%= link_to event.name, event_path(event) %></div>
  <% end %>

  <h3>Past Events</h3>
  <% @events.past.each do |event| %>
    <div class="event-link"><%= link_to event.name, event_path(event) %></div>
  <% end %>
</div>